@import url(./normalize.css);

.page {
  display: flex;
  flex-direction: column;
  font-family: "Robot", "Arial", "Helvetica", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  min-height: 100vh;
}

.main {
  margin: 0 auto;
  max-width: 320px;
}

.badge {
  --bs-badge-padding-x: 0.35em !important;
  --bs-badge-font-size: 0.35em !important;
}

.header {
  margin: 0 auto;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.header__logout {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__button {
  height: 30px;
  height: min-content;
}

.header__title {
  margin: 0;
  padding-bottom: 20px;
}

.badge {
  font-size: 10px;
}

.auth {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.auth__title {
  padding-top: 10px;
  text-align: center;
}

.auth__form {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 10px;
}

.chat__messages {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-height: 300px;
  height: 100%;
  overflow: auto;
  gap: 10px;
  min-height: 350px;
}

.chat__text-content {
  width: 250px;
}

.chat__edit-button {
  display: none !important;
}

.chat__edit-button_active {
  display: block !important;
}

.chat__post {
  background-color: antiquewhite;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 5px;
  box-sizing: border-box;
}

.chat__textarea {
  display: flex;
}
